@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movies Page";
}

<div class="p-20 bg-gray-300 min-h-[80vh]">
    <div>
        <h2 class="px-2 text-primary text-4xl font-semibold uppercase tracking-wider">Movies</h2>
        <hr />
        <hr />
    </div>
    <div class="grid grid-cols-4 gap-5 mt-5">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <a asp-controller="Movie" asp-action="Details" asp-route-id="@item.Id">
                    <div>
                        <div class="rounded-xl overflow-hidden h-[200px]">
                            <img class="hover:scale-105 duration-500 w-full h-full object-center object-cover" src="~/uploads/@item.ImageUrl" alt="@item.ImageUrl">
                        </div>
                        <div class="mt-5">
                            <h2 class="tracking-wider line-clamp-1 text-3xl font-semibold">@item.Title</h2>
                            <p class="line-clamp-2 mt-2 tracking-wider">
                                @item.Description
                            </p>
                        </div>
                    </div>
                </a>
            }
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.MaxPage; i++)
                    {
                        <li class="@(i == ViewBag.Page ? "active" : "")">
                            <a href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                </ul>
            </nav>
            <nav aria-label="Page navigation example">
                <ul class="inline-flex -space-x-px text-sm">
                    @for (int i = 1; i <= ViewBag.MaxPage; i++)
                    {
                        <li class="@(i == ViewBag.Page ? "active" : "")">
                            <a href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                        <li>
                            <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                        </li>
                    }
                    <li>
                        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                    </li>
                    <li>
                        <a href="#" aria-current="page" class="flex items-center justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                    </li>
                </ul>
            </nav>
        }
        else
        {
            <div class="mt-2 px-5">
                <h2 class="text-red-600 font-bold"> No Data Found..!</h2>
            </div>
        }
    </div>
</div>